*, *::after, *::before {
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
}
.containers {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px 0 25px;
  }
li {
  list-style: none;
}