.footer{
    background-color: #184D3AD1;
    height: 300px;
    width: 100%;
    .footer_inner{
        padding-bottom: 20px;
        padding-top: 80px;
        display: flex;
        justify-content: space-around;
        .footer_menu{
            display: flex;
            flex-direction: column-reverse;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
            }
            .footer_icons{
                line-height: 2;
                word-spacing: 10px;
            }
        }
    }

}
.copywrite{
    background-color: #0c412dd1;
    height: 40px;
    .copywrite__txt{
    
        text-align: center;
        padding-top: 10px;
        
        font-size: 14px;
        font-weight: 500;
        
        
    }
}

$medium: 1024px;

@media screen and (max-width: $medium) {
    html{
        zoom: .7;
    }
    .header_top{
        margin-left: 20px;
        .header_logo{
            padding-top: 10px;
            img{
                width: 100px;
            }
        }
        .nav_link{
            font-size: 13px;
            
        }
    }
    .header_main_title{
        margin-right: 30px;
        position: absolute;
    }

    .video_title{
        min-width: 550px;
        padding-left: -30px;
    }
    
    
}