
.main_content{
    font-family: 'Montserrat';   
}
.content_title{
    margin-top: 60px;
    h2{
        font-size: 30px;
        font-weight: 500;
        line-height: 44px;
        text-transform: uppercase;
        text-align: center;
    }
}
.content_items{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.content_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items_title{
    padding-left: 20px;
    h3{
        font-size: 18px;
        font-weight: 700;
    } 
    p{
        font-size: 13px;
        font-weight: 400;
        width: 240px;
    }
}